html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fffbf3;
}

main {
    width: 70%;
    margin: auto;
}

section {
    width: 40%;
    min-width: 300px;
    float: left;
}

#left_list {
    margin-right: 20%;
}

.list_header {
    border-bottom: 2px solid #794312;
}

/* .root_list_style {

} */