html {
    width: 100%;
    height: 100%;
}

body {
    height: inherit;
    width: inherit;
    background-color: #fffbf3;
    font-family: "Ubuntu Mono", sans-serif;
    margin: 0;
    position: absolute;
}

main {
    width: 70%;
    height: 75%;
    margin: 5% auto;
    position: relative;
}

section {
    height: 100%;
    width: 40%;
    min-width: 300px;
    float: left;
    overflow-x: clip;
    padding-bottom: 50px;
    font-size: 1.4em;
}

ol {
    width: 105%;
    height: 90%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow-y: scroll;
}

#left_list {
    margin-right: 20%;
}

.list_header {
    font-size: max(36px, 3.5vw);
    border-bottom: 4px solid #794312;
    color: #794312;
    font-weight: inherit;
    margin: 0;
}

/* .root_list_style {

} */

#list_input {
    height: 50px;
    background-color: #ffefd0;
}

li {
    background-color: #ffefd0;
    border-top: 1px solid #9B714A;
    height: 50px;
}

input {
    border: 0;
    padding: 0;
    height: 100%;
    width: 82%;
    background-color: transparent;
    font-size: inherit;
}

button {
    height: 36px;
    width: 36px;
    border-radius: 100%;
    border: none;
    padding: 5px;
    margin: 7px;
    float: right;
    background-color: #fffbf3;
    box-shadow: 0px -2px 1px #79431240 inset;
}

button:active {
    box-shadow: 0px 2px 1px #79431240 inset;
    padding-top: 7px;
}

/*button > img {
    height: inherit;
    width: inherit;
}*/

/*.fade_gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0), #fffbf3);
}*/